@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

header {
  background-color: #5f9ea0;
  box-shadow: 2px 2px 4px #ddd;
}

#categoriesContainer > input[type="checkbox"]:checked + label {
  border-color: #d90368;
  background-color: #d90368;
  color: #fff;
}

#categoriesContainer > label {
  border: 1px solid #ddd;
  border-radius: 4px;
}

#categoriesContainer > label:hover {
  border-color: #d90368;
  color: #d90368;
}

#searchContainer > input[type="search"] {
  width: 150px;
}

#searchContainer > input[type="search"]:hover {
  border-color: #d90368;
}

#searchContainer > input[type="search"]:focus {
  background-color: #d90368;
  color: #fff;
}

.form {
  width: 100%;
  max-width: 600px;
}

#cardsContainer .card-title {
  color: #d90368;
}

#cardsContainer .card-shadow {
  box-shadow: 2px 2px 4px #ddd;
}

#cardsContainer > div {
  transition: all 0.5s;
}
#cardsContainer > div:hover {
  transform: scale(1.025);
}

#statisticsEventContainer > table {
  table-layout: fixed;
}
#statisticsEventContainer > table > caption {
  color: #d90368;
}

#statisticsEventContainer > table > thead > tr {
  background-color: #5f9ea01f;
  color: #444;
}

#statisticsEventContainer > table > thead > tr > th,
#statisticsEventContainer > table > tbody > tr > td {
  padding: 0.75em 1em;
  vertical-align: middle;
}

.btn-details {
  background-color: #5f9ea01f;
  border: 2px solid #5f9ea03f;
  transition: all 0.25s;
}

.btn-details:hover {
  background-color: #5f9ea01f;
  border: 2px solid #5f9ea0;
}

.footer {
  margin: 4em 0 0 0;
  background-color: #eee;
}

.footer-icon {
  padding: 0.3em 0.5em;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 2em;
  transition: all 0.5s;
}

.footer-icon:hover {
  background-color: #d90368;
}
